*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(assets/images/view-contactsbg.png);
    color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

header{
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    margin: 2rem;
    border-radius: 200px;
}

h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.search-container{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

#searchInput{
    flex: 1;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    backdrop-filter: blur(10px);
}

#searchInput::placeholder{  
    color: rgba(255, 255, 255, 0.7);
}

#searchBtn{
    background: #ffffff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transfom 0.3s;
}

#searchBtn:hover{
    transform: scale(1.1);
    background: rgb(52, 5, 5);
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#sectionTitle{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #041e23;
}

.movies-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
}

.movie-card{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.movie-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 212, 255, 0.2);
}

.movie-poster{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie-info{
    padding: 15px;
}

.movie-title{
    font-size: 1.1rem;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-year{
    color: #aaa;
    font-size: 0.9rem;
}

.movie-rating{
    color: #ffd700;
    margin-top: 5px;
    font-size: 0.9rem;
}

/* modal styless*/

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(11px);
    margin: 5% auto;
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-content h2{
    color: rgb(249, 219, 219);
    font-weight: 600;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover{
    color: white;
}


/*======= mobile resposivee===*/

@media (max-width: 768px){
    .movies-grid{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }
    h1{
        font-size: 2rem;
    }
    #sectionTitle .container{
        align-items: center;
    }

    header{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    header h1{
        margin-top: 0.5px;
    }

    #searchBtn{
        padding: 1rem;
    }
}

@media (max-width: 480px){
    .movies-grid{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }
    h1{
        font-size: 2rem;
    }
    #sectionTitle .container{
        align-items: center;
    }
}