*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    min-height: 100vh;
    padding-bottom: 50px;
}

header{
    text-align: center;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

h1{
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: #00d4ff;
}

.search-container{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

#searchInput{
    flex: 1;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1.1rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    backdrop-filter: blur(10px);
}

#searchInput::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

#searchBtn{
    background: #00d4ff;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transfom 0.3s;
}

#searchBtn:hover{
    transform: scale(1.1);
    background: red;
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#sectionTitle{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #00d4ff;
}

